body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.inactive-button {
  background-color: green; 
  color:yellow;
}
.active-button {
  background-color: blueviolet; 
  color:grey;
}
.yellow-button {
  background-color: red; /* Yellow color */
  color: black;
}

.green-button {
  background-color: white; /* Green color */
  color:red;
}